.t-flex{
    height: 110%;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.t-div{
    margin-top: 5%;
    width: 90%;
    text-align: center;
}
.t-h{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.t-p{
    text-align: justify;
    margin-left: 10px;
    margin-top: 2%;
    font-size: 18px;
    margin-right: 5px;
    
}
