h1{
    text-align: center;
}
.a{
    text-align:center;
}
.a1{
    text-align: right;
}
.a2{
    text-align: left;
}
h1{
    font-family: 'Montserrat';
}
h3{
    font-family: 'Montserrat';
}
h2{
    font-family: 'Montserrat';
}
a {
    font-family: 'nunito';
}