
.about_swip{
    display: block;
    overflow-x: hidden;
   width: 100vw;

}
.about_sw{
    overflow-x: hidden;
    /* margin-top: 40px; */
}
.swiper {
    width: 100%;
    height: 100%;
   
  }
  
  .swiper-slide {
   
    text-align: center;
    font-size: 18px;
    background: #cccccc;
  
    /* Center slide text vertically */
    
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    
    width: 100px;
    height: 100px;
   
  }
  .S-flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .S-p{
    margin-left: 40px;
   
    font-size: 21px;
  }
  .S img{
    margin-left: 50px;
    width: 120px;
    height: 300px; 
    
  }
  
  