
.about_swip{
    overflow-x: hidden;
    margin-top: 400px;
}
.about_sw{
    overflow-x: hidden;
    /* margin-top: 40px; */
}
.swiper {
    width: 100%;
    height: 100%;
   
  }
  
  .swiper-slide {
   
    text-align: center;
    font-size: 18px;
    background: #cccccc;
  
    /* Center slide text vertically */
    
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    
    width: 30%;
    height: 30%;
   
  }
  .S-flex{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .S-p{
    margin-left: 10%;
    margin-right: 20%;
    font-size: 21px;
  }
  .S img{
    width: 50vw;
    height: 70vh; 
    margin-left: 20%;
  }
  
  